html,
body,
header,
#intro {
  height: 100%;
}

@media (max-width: 1980px) {
  html,
  body,
  header,
  #intro {
    height: 100vh;
  }
}

#intro {
  background-image: url(../img/Landscape-bg/Sliders/11.jpg);
  background-repeat: no-repeat;

  background-position: center top;

  /* background-attachment: fixed; */

  /* background: url(../img/Landscape-bg/Sliders/11.jpg) no-repeat center center
    fixed; */
  /* -webkit-background-size: cover; */
  background-size: cover;
  background-color: #085328;
}
/* #intro {
  background-image: url(../img/Landscape-bg/Sliders/11.jpg);
  background-repeat: no-repeat;

  background-position: center top;
  background-attachment: fixed;
  background-width: 100% auto;
  background-color: #085328;
} */
#intro {
  @media (max-width: 768px) {
    background: #085328;
  }
}
.top-nav-collapse {
  background-color: #085328;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #085328;
  }
}
.gallery {
  display: flex;
  justify-content: center;
}
.gal {
  display: flex;
  justify-content: center;
}
.carousel-inner {
  margin: 0;
  padding: 0;
}
.carousel-item active {
  margin: 0;
  padding: 0;
}
.wrap {
  display: flex;
  justify-content: center;
}
.map {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.contact_wrapper {
  display: flex;
  justify-content: center;
}

.text {
  font-size: 11pt;
}
.tel {
  display: flex;

  align-items: center;
}
.textDiv {
  display: flex;
  font-size: 11pt;
  align-items: center;
}
.workHour {
  display: flex;
  font-size: 11pt;
  align-items: center;
}
.wrap {
  padding: 0;
  margin: 0;
  display: block;
}
.footer {
  width: 100%;
  height: 50px;

  background-color: #085328;
}
.span {
  padding-top: 13px;
  display: flex;
  justify-content: center;
  color: red;
  text-decoration: solid;
}
.cont {
  display: flex;
  justify-content: center;
}
.row_cont {
  display: flex;
  justify-content: center;
}
